{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Super Tracks</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>

  <body>
    <header>
      SUPER TRACKS
    </header>
    <div class="form-div">
      <h1>EDIT TRACK</h1>
      <form action="{% url 'edit_track_name' track_id %}" method="POST">
        {{ form }}
        <button type="submit">Save Track</button>
      </form>
    </div>
  </body>
</html>
